*{
    margin: 0;
    padding: 0;
}
html{
    -webkit-tap-highlight-color:transparent;
    background: #f5f5f5;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #ccc; 
	font-size: 15px;
}   
input,select{
    outline: none;
}
.identity {
	height: 100vh;
	background: #fff;
}
.identity-warp {
	margin: 0 30px;
	padding-top: 40px;
}
.identity-warp .header-img{
	display: block;
	width: 130px;
	margin: 0 auto;
}
.identity-warp .header-title{
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 15px;
	color: #333333;
}
.identity-warp .your-phone,
.identity-warp .your-encode{
	display: flex;
    align-items: center;
	padding: 10px;
	border-bottom: 1px solid #f4f4f4;
}
.your-phone .phone-icon img,
.your-encode .encode-icon img{
	height: 20px;
}
.your-phone input,
.your-encode input {
	height: 20px;
	padding-left: 10px;
}
.your-encode {
	position: relative;
}
.encode-icon,.phone-icon{
	display: inline-block;
	width: 20px;
}
.your-encode .get-encode{
	position: absolute;
    right: 0;
	color: #4cac77;
	font-size: 12px;
}
.identity-warp .login-btn {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 45px;
	margin-top: 50px;
	background:-webkit-linear-gradient(left,#008e39, #037a4e);
	font-size: 18px;
	color: #fff;
	border-radius: 6px;
}
.protection-tab-warp {
	width: 100%;
    height: 40px;
    background: #fff;
    line-height: 40px;
	border-bottom: 1px solid #ebebeb;
	display: flex;
}
.protection-tab-warp .protection-tab{
	display: inline-block;
	text-align: center;
	font-size: 17px;
	color: #333;
	flex: 1;
    box-sizing: border-box;
    margin: 0 25px;
}
.protection-tab-warp .protection-tab.action{
	border-bottom: 2px solid #05aa72;
}
.protection-warp {
	display: none;
	width: 100%;
	overflow: hidden;
}
.protection > div.action{
	display: block;
}
.list-na {
	margin: 118px auto;
    width: 160px;
    text-align: center;
}
.list-na img{
	width: 100%;
}
.list-na .na-title {
	margin: 20px 0 15px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.list-na p {
	font-size: 15px;
	line-height: 1.667;
	color: #333;
}


.protection-list li{
	padding: 15px 15px 0;
	background: #fff;
	margin-bottom: 10px;
}
.protection-list li h3 {
	margin-bottom: 10px;
	font-size: 18px;
	color: #333;
}
.protection-list li > p > span {
	font-size: 13px;
	color: #666;
	line-height: 1.385;
}
.protection-list .price{
	color: #ff1b1b;
}
.protection-list .status {
	width: 100vw;
	height: 30px;
	margin-top: 10px;
	margin-left: -15px;
	padding: 0 15px;
	line-height: 30px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	color: #05aa72;
}
.protection-list .orders-btn {
	height: 45px;
	padding: 8px 0;
	box-sizing: border-box;
	text-align: right;
}
.protection-list .orders-btn span {
	display: inline-block;
	width: 75px;
	height: 26px;
	font-size: 13px;
	border-radius: 25px;
	border: 1px solid #9c9c9c;
	text-align: center;
	line-height: 26px;
	color:#3e4244;
}
.protection-list .orders-btn .detail,
.protection-list .orders-btn .initiate{
	color: #05aa72;
	border-color: #05aa72;
}

.detail-header {
	position: relative;
	width: 100%;
    height: 93px;
    box-sizing: border-box;
    background: #027f49;
    color: #fff;
    padding: 23px 35px;
}
.detail-header p {
	font-size: 18px;
	line-height: 1.389;
}
.detail-header div{
	margin-top: 8px;
	font-size: 14px;
	line-height: 1.389;
}
.detail-header img{
	position: absolute;
	width: 42px;
	top: 23px;
	right: 46px;
}
.detail-center {
	background: #fff;
    margin-top: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.389;
    color: #666666;
}
.detail-center p {
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}
.detail-center p:last-child{
	margin-bottom: 0;
}
.service-phone-warp {
	background: #fff;
    height: 55px;
    margin-top: 10px;
    line-height: 55px;
    color: #333333;
    padding: 0 29px 0 17px;
    box-sizing: border-box;
}
.service-phone-warp .service-phone {
	float: right;
    color: #1c9c3f;
}
.service-btn {
	display: flex;
    justify-content: center;
    align-items: center;
	width: calc(100vw - 56px);
	height: 45px;
	margin: 0 auto;
	margin-top: 50px;
	background: #037a4d;
	font-size: 18px;
	color: #fff;
	border-radius: 4px;
}









.tips{
    background:#fc1b1b;
    color:#fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;
    text-align: center
}
.personal .head{
    background: #fff;
    display: flex;
    padding: 20px 27px;
    box-sizing: border-box;
    align-items: center;
}
.personal .head .img{
    flex:1;
    margin-right: 20px;
}
.personal .head .img img{
    width: 100%;
}
.personal .head .text{
    margin-top: 5px;
    flex:5;
}
.personal .head .text p:first-child{
    color:#333333;
    font-size:16px;
}
.personal .head .text p:last-child{
    color:#666666;
    font-size:14px;
    margin-top: 5px;
}
.personal .con{
    background: #fff;
    margin-top: 10px;
}
.personal .con .item:first-child{
    border-bottom: 1px solid #ddd;
}
.personal .con .item{
    padding: 17px 15px 17px 33px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color:#333;
}
.personal .con .item .logo{
    width: 20px;
    margin-right: 12px;
}
.personal .con .item .arrow{
    margin-left: auto;
}
.personal .con .item .arrow img{
	width: 15px;
	margin-top: 2px;
    margin-left: 5px;
    float: right;
}
.bottom-text{
	position: fixed;
	color: #ccc;
	font-size: 9px;
	bottom: 10px;
	left: 0;
    right: 0;
    text-align: center;
}
